// Общий файл элементов форм
// Для подключение/отключения стилей конкретного элемента формы base/forms/forms.scss
@import "base/forms/forms";

// Стили попапов
@import "base/popup";

// Стили спойлеров
// @import "base/spollers";

// Стили табов
// @import "base/tabs";

// Стили карт
// @import "base/maps";

// Стили блока "показать ещё"
// @import "base/showmore";

// Стили для полноэкранного блока
// @import "base/fullscreen";

// Стили для липкого блока
// @import "base/sticky";

// Стили для отзывчивых картинок (IBG)
// Сниппет (HTML): ibg (div с картинкой и классами)
// Сниппет (HTML): ibga (a с картинкой и классами)

[class*="-ibg"] {
    position: relative;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}