@use "sass:math";

// Подключение миксинов
@import "base/mixins";

// Подключение шрифтов ===================================================================================================================================================================================================
// &display = swap - добавить при подключений через плагин
// Подключить если есть локальный файл шрифтов
// @import "fonts/fonts";

// Подключение иконочных шрифтов ===================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
// @import "fonts/icons";

// Шрифт по умолчанию ===================================================================================================================================================================================================
$fontFamily: "";
$fontSize: rem(14); // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета ===================================================================================================================================================================================================
$mainColor: #000; // цвет шрифта по умолчанию

// НАСТРОЙКИ ===================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1170;
//Общий отступ у контейнера
// (30 = по 15px слева и справо, 0 = нет отступа)
$containerPadding: 30;

// Тип адаптива
// 1 = отзывчивость (у контейнера нет брейк-поинтов),
// 2 = по брейк-поинтам ( контейнер меняет свою ширину по б\п)
$responsiveType: 1;

// Ширина срабатывания первого брейк-поинта
$containerWidth: $maxWidthContainer+$containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Обнуление и общие параметры ===================================================================================================================================================================================================
@import "base/null";