@use "sass:math";

// Подключение миксинов
@import "base/mixins";

// Подключение шрифтов ===================================================================================================================================================================================================
// &display = swap - добавить при подключений через плагин
// Подключить если есть локальный файл шрифтов
// @import "fonts/fonts";

// Подключение иконочных шрифтов ===================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
// @import "fonts/icons";

// Шрифт по умолчанию ===================================================================================================================================================================================================
$fontFamily: "";
$fontSize: rem(14); // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета ===================================================================================================================================================================================================
$mainColor: #000; // цвет шрифта по умолчанию

// НАСТРОЙКИ ===================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1170;
//Общий отступ у контейнера
// (30 = по 15px слева и справо, 0 = нет отступа)
$containerPadding: 30;

// Тип адаптива
// 1 = отзывчивость (у контейнера нет брейк-поинтов),
// 2 = по брейк-поинтам ( контейнер меняет свою ширину по б\п)
$responsiveType: 1;

// Ширина срабатывания первого брейк-поинта
$containerWidth: $maxWidthContainer+$containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Обнуление и общие параметры ===================================================================================================================================================================================================
@import "base/null";

body {

    // Скролл заблокирован
    .lock & {
        overflow: hidden;
        touch-action: none;
    }
}

// Оболочка ===================================================================================================================================================================================================
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    // Сайт загружен
    .loaded & {}

    // Прижимаем footer
    >main {
        flex: 1 1 auto;
    }

    // Фикс для слайдеров
    >* {
        min-width: 0;
    }
}

// Ограничивающий контейнер ===================================================================================================================================================================================================

/*
    (i) Стили будут применятся ко
    всем классам содержащим *__container.
    Например header__container, main__container и т.д.
    Снипет (HTML): cnt
*/
@if ($responsiveType==1) {

    // Отзывчивый
    [class*="__container"] {
        @if ($maxWidthContainer>0) {
            max-width: rem($maxWidthContainer);
            box-sizing: border-box;
            margin: 0 auto;
        }

        @if ($containerPadding>0) {
            padding: 0 rem(math.div($containerPadding, 2));
        }
    }
}

else {

    // По брейк-поинтам
    [class*="__container"] {
        margin: 0 auto;

        @if ($maxWidthContainer>0) {
            max-width: rem($maxWidthContainer);
            box-sizing: border-box;
        }

        else {
            @if ($containerPadding>0) {
                padding: 0 rem(math.div($containerPadding, 2));
            }
        }

        @media (min-width: $pc) {
            max-width: rem(970);
        }

        @media (min-width: $tablet) {
            max-width: rem(750);
        }

        @media (min-width: $mobile) {
            max-width: none;

            @if ($containerPadding>0 and $maxWidthContainer>0) {
                padding: 0 rem(math.div($containerPadding, 2));
            }
        }
    }
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных классов
// Для подключения/отключения конкретных стилей смотрим base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
@import "home";

// Подключение стилей spollers
// @import "./libs/spollers";
